
.tn-color-main {
  color: var(--main);
}

.tn-bg-main {
  background-color: var(--main);
}

.tn-color-main-light {
  color: var(--main-light);
}

.tn-bg-main-light {
  background-color: var(--main-light);
}

.tn-color-main-extra-light {
  color: var(--main-light);
}

.tn-bg-main-extra-light {
  background-color: var(--main-extra-light);
}

.tn-color-label {
  color: var(--label);
}

.tn-color-secondary-label {
  color: var(--secondary-label);
}

.tn-bg-divider {
  background-color: var(--divider);
}

.tn-bg-background {
  background-color: var(--background);
}

.tn-bg-secondary-background {
  background-color: var(--secondary-background);
}
