.tn-input {
  font-size: 16px;
  height: 40px;
  width: 100%;
  background-color: var(--background);
  border: 1px solid var(--divider);
  border-radius: var(--border-radius-small);
}

.tn-input:focus {
  border: 1px solid var(--main);
  box-shadow: 0 0 2pt 2pt var(--main-extra-light);
  outline-width: 0px;
}