@import "globals.css";
@import "variables.css";
@import "form.css";
@import "button.css";
@import "text.css";
@import "color.css";
@import "img.css";
@import "size.css";
@import "margin.css";
@import "padding.css";