.tn-height-screen {
  height: 100vh;
}

.tn-height-content {
  height: calc(100vh - 64px);
}

.tn-height-full {
  height: 100%;
}

.tn-width-full {
  width: 100%;
}

.tn-size-full {
  height: 100%;
  width: 100%;
}