:root {

  /*COLORS*/
  --main: #00457C;
  --main-light: #DBEAFE;
  --main-extra-light: #EFF6FF;

  --label: #000000;
  --secondary-label: rgba(60,60,67,0.6);

  --divider: #E5E5EA;

  --background: #FFFFFF;
  --secondary-background: #F7F9FA;

  /*BORDER RADIUS*/
  --border-radius-small: 6px;
  --border-radius-regular: 8px;
  --border-radius-medium: 12px;
  --border-radius-large: 16px;

  /*FONTS*/
  --font-large-title: 34px;
  --font-title1: 28px;
  --font-title2: 24px;
  --font-title3: 20px;
  --font-body: 16px;
  --font-footnote: 14px;
  --font-small: 12px;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*SIZES*/

  /*CONSTRAINTS*/
  --constraint-mini: 8px;
  --constraint-small: 12px;
  --constraint-regular: 20px;
  --constraint-medium: 24px;
  --constraint-large: 32px;
  --constraint-extra-large: 40px;

}