@layer components {

    .auth {
        @apply flex items-center justify-center h-screen;
    }

    .auth-content {
        @apply px-4 md:px-6 space-y-4;
    }

    .auth-header {
        @apply space-y-1;
    }

    .auth-header .auth-title {
        @apply text-title1 md:text-largeTitle font-semibold;
    }

    .auth-header .auth-meta {
        @apply text-footnote text-label-light;
    }

    .auth-form {
        @apply space-y-2;
    }
}