@import url('https://rsms.me/inter/inter.css');


@layer base {
    @font-face {
        font-weight: 400;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    }
}


/**
    BODY
 */
body {
    color: #252C32;
    font-weight: 400;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    white-space: pre-line;
}


/**
    HR
 */
hr {
    border-color: #E5E9EB;
}


/**
    FORM
 */
::placeholder {
    @apply text-label-placeholder;
}

input, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply border border-border w-full px-3 py-1.5 rounded-1.5 focus:border-label-placeholder !important
}

input[type='checkbox'] {
    @apply border border-border bg-background-secondary w-4 h-4 rounded-1 !important;
}

input[type='checkbox']:checked {
    @apply border bg-primary border-primary w-4 h-4 rounded-1 !important py-1;
}

input:focus, textarea:focus, select:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(238, 240, 242, 1) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
}

input.field-sm, textarea.field-sm, select.field-sm {
    @apply border border-border text-footnote px-2 py-1 rounded-1.5 !important;
}

form label {
    @apply block text-caption1 text-label-secondary mb-0.5;
}


/**
    BUTTON
 */
button {
    @apply text-subheadline font-medium px-4 py-1.5 rounded-1.5;
}
