@layer components {

    .breadcrumb {
        @apply space-x-1 flex items-center;
    }

    .breadcrumb-item {
        @apply space-x-1 flex items-center text-footnote text-label-secondary font-normal cursor-pointer;
    }

    .breadcrumb .breadcrumb-item:last-child {
        @apply text-label cursor-default;
    }

    .breadcrumb-divider {
        @apply text-label-secondary text-footnote font-medium;
    }
}
