@layer components {
  .btn-primary {
    @apply bg-primary border-primary-selected border;
  }

  .btn-danger {
    @apply bg-danger;
  }

  .btn {
    @apply text-base text-white font-medium px-4 py-1 md:px-6 md:py-1.5 rounded-md;
  }

  .btn-sm {
    @apply text-footnote font-normal text-white px-3 py-0.5 md:px-4 md:py-1 rounded-md;
  }
}
