@layer components {
  .btn-primary {
    @apply text-background bg-primary border-primary border;
  }

  .btn-outline {
    @apply border-border border hover:bg-background-secondary;
  }

  .btn-danger {
    @apply bg-red text-background;
  }

  .btn-danger.btn-outline {
    @apply text-red bg-clear border-border border hover:bg-background-secondary;
  }

  .btn-warning.btn-outline {
    @apply text-orange bg-clear border-border border hover:bg-background-secondary;
  }

  .btn-warning {
    @apply bg-orange text-background;
  }

  .btn {
    @apply text-subheadline font-medium px-4 py-1.5 rounded-1.5;
  }

  .btn-sm {
    @apply text-footnote font-normal px-3 py-1 rounded-1.5;
  }

  .btn-xs {
    @apply text-caption1 font-normal px-2 py-0.5 rounded-1.5;
  }

  .btn-checkbox {
    @apply border flex items-center cursor-pointer justify-center font-medium border-border rounded-1 bg-background-secondary h-4 w-4;
  }

  .btn-checkbox.active {
    @apply border-primary bg-primary text-background;
  }

}
