@layer components {
  .btn-primary {
    @apply text-white bg-primary border-primary-selected border;
  }

  .btn-outline {
    @apply text-primary bg-primary-extra-light border-primary-light border hover:bg-primary-light;
  }

  .btn-danger {
    @apply bg-danger;
  }

  .btn {
    @apply text-subheadline font-medium px-4 py-1.5 rounded-md;
  }

  .btn-sm {
    @apply text-footnote font-normal px-3 py-1 rounded-md;
  }

}
