@layer components {
  .btn-primary {
    @apply text-background bg-primary border-primary border;
  }

  .btn-outline {
    @apply border-border border hover:bg-background-secondary;
  }

  .btn-danger {
    @apply bg-red text-background;
  }

  .btn-danger.btn-outline {
    @apply text-red bg-clear border-border border hover:bg-background-secondary;
  }

  .btn-warning {
    @apply bg-orange text-background;
  }

  .btn {
    @apply text-subheadline font-medium px-4 py-1.5 rounded-1.5;
  }

  .btn-sm {
    @apply text-footnote font-normal px-3 py-1 rounded-1.5;
  }

}
