@layer components {

    .content {
        @apply space-y-2 bg-muted -mx-4;
    }

    .content-item {
        @apply py-3 px-4 space-y-2 bg-background hover:bg-muted;
    }

    .content-item.lesson {
        @apply py-2 space-y-2 border-t border-divider-light;
    }

    .content-item-header {
        @apply flex justify-between items-center cursor-pointer;
    }

    .content-item-header .content-item-title.section {
        @apply text-title3 font-semibold;
    }

    .content-item-header .content-item-title.lesson {
        @apply text-base font-medium;
    }

    .content-item-header .content-item-title {
        @apply text-title3 font-semibold;
    }

    .content-item-header .content-item-meta {
        @apply text-label-light text-footnote;
    }

    .content-item-body {
        @apply space-y-4;
    }

    .content-item-body .content-item-details {
        @apply text-label-darker text-footnote;
    }

    .content-item-body .content-item-resources {
        @apply space-y-2;
    }

    .content-item-body .content-item-resource {
        @apply flex space-x-2 items-center;
    }

    .content-item-resource .content-item-resource-icon {
        @apply text-base text-label-light;
    }

    .content-item-resource .content-item-resource-title {
        @apply text-footnote text-label-darker;
    }


}