@import "globals.css";

@layer components {

    .small-caps {
        font-variant: small-caps;
    }

    .courses-grid {
        @apply grid grid-cols-1 md:grid-cols-3 md:gap-6 md:px-5;
    }

    .course-card {
        @apply space-y-2 px-4 py-3 border-b border-divider cursor-pointer rounded-none md:rounded-lg hover:bg-muted md:border-0;
    }

    .course-card .course-title {
        @apply text-title3 font-medium md:font-semibold;
    }

    .course-card .course-category {
        @apply py-0.5 px-1.5 small-caps bg-primary-extra-light text-primary text-caption1 inline-grid font-medium rounded-1;
    }

    .course-card .course-description {
        @apply text-footnote text-label-light;
    }
}