@layer components {

    .form {
        @apply space-y-2.5 md:w-1/2;
    }

    .input-text, .textarea, .select {
        @apply border mt-1 block w-full px-3 py-1.5 border-divider rounded-md focus:ring-primary-light focus:border-primary-light !important;
    }

    .input-group {
        @apply border rounded-md ;
    }

    .input-group > input, .input-group > .textarea {
        @apply text-footnote w-full px-3 py-1.5 border-b border-divider focus:ring-0;
    }

    .input-group > input:first-child {
        @apply rounded-t-md;
    }

    .input-group > input:last-child {
        @apply rounded-b-md border-0;
    }
}
