@layer base {
    @font-face {
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    }
}

@layer components {
    .small-caps {
        font-variant: small-caps;
    }
}

@layer components {
    .px-container {
        @apply px-4 md:px-9;
    }
}