@import url('https://rsms.me/inter/inter.css');


@layer base {
    @font-face {
        font-weight: 400;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    }
}
