@layer base {
    @font-face {
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    }

    input, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
        @apply border mt-1 block w-full px-3 py-1.5 border-divider rounded-md focus:ring-primary-light focus:border-primary-light !important;
    }
}

@layer components {
    .small-caps {
        font-variant: small-caps;
    }
}

@layer components {
    .px-container {
        @apply px-4 md:px-9;
    }
}
