@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@import "globals.css";
@import "button.css";
@import "navbar.css";
@import "form.css";
@import "course.css";
@import "breadcrumb.css";
@import "page-header.css";
@import "tab.css";
@import "content.css";
@import "auth.css";