@layer components {
    .navbar-item {

    }
    .navbar-item-indicator {
        @apply absolute bottom-0 h-0.5 left-1.5 right-1.5 rounded-t-md;
    }

    .navbar-item-indicator:hover {
        @apply bg-primary-light;
    }

    .navbar-item-indicator.active {
        @apply bg-primary;
    }
}
