@layer components {

    .tab {
        @apply relative h-10;
    }

    .tab .tab-border {
        @apply absolute inset-x-0 bottom-0 h-0.25 bg-border;
    }

    .tab .tab-content {
        @apply flex absolute inset-0 items-center space-x-6;
    }

    .tab .tab-content .tab-item {
        @apply h-10 flex items-center justify-center relative cursor-pointer;
    }

    .tab .tab-content .tab-item .tab-item-title {
        @apply text-footnote text-label-secondary;
    }

    .tab .tab-content .tab-item .tab-item-border {
        @apply absolute inset-x-0 bottom-0 h-0.25 bg-clear;
    }

    .tab .tab-content .tab-item.active .tab-item-title {
        @apply text-label font-semibold;
    }

    .tab .tab-content .tab-item.active .tab-item-border {
        @apply bg-label;
    }
}
